body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0
}

#main {
  padding: 40px;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 4px
}

button {
  cursor: pointer;
  background: navy;
  color: #ffff;
}

#output {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  padding-top: 20px
}

.movie-card {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
  background-color: #fff
}
